version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      # Specify a name for the group, which will be used in pull request titles
      # and branch names
      aws:
        patterns:
          - 'aws*'
        update-types:
          - 'minor'
          - 'patch'
