AWSTemplateFormatVersion: "2010-09-09"

Description: Nested stack!

Resources:
  SuccessStack:
    Type: AWS::CloudFormation::Stack
    Properties:
      Parameters:
        BucketName: !Ref AWS::StackName
      TemplateURL: success.template

Outputs:
  StackName:
    Description: The name of the stack
    Value: !Ref SuccessStack
    Export:
      Name: SuccessStackName
