AWSTemplateFormatVersion: 2010-09-09
Transform: 'AWS::LanguageExtensions'
Resources:
  InstanceAtrue:
    Type: 'AWS::EC2::Instance'
    Properties:
      InstanceType: t3.medium
      ImageId: ami-00ad2436e75246bba
      DisableApiTermination: true
  InstanceAfalse:
    Type: 'AWS::EC2::Instance'
    Properties:
      InstanceType: t3.medium
      ImageId: ami-00ad2436e75246bba
      DisableApiTermination: false
  InstanceBtrue:
    Type: 'AWS::EC2::Instance'
    Properties:
      InstanceType: t3.medium
      ImageId: ami-00ad2436e75246bba
      DisableApiTermination: true
  InstanceBfalse:
    Type: 'AWS::EC2::Instance'
    Properties:
      InstanceType: t3.medium
      ImageId: ami-00ad2436e75246bba
      DisableApiTermination: false
  InstanceCtrue:
    Type: 'AWS::EC2::Instance'
    Properties:
      InstanceType: t3.medium
      ImageId: ami-00ad2436e75246bba
      DisableApiTermination: true
  InstanceCfalse:
    Type: 'AWS::EC2::Instance'
    Properties:
      InstanceType: t3.medium
      ImageId: ami-00ad2436e75246bba
      DisableApiTermination: false
