AWSTemplateFormatVersion: 2010-09-09
Transform: 'AWS::LanguageExtensions'
Resources:
  'Fn::ForEach::Instances':
    - LogicalId
    - InstanceA, InstanceB, InstanceC
    - 'Fn::ForEach::Termination':
        - apiTerm
        - true, false
        - '${LogicalId}${apiTerm}':
            Type: 'AWS::EC2::Instance'
            Properties:
              InstanceType: t3.medium
              ImageId: ami-00ad2436e75246bba
              DisableApiTermination: !Ref apiTerm
