Description: This template succeeds

Parameters:
  BucketName:
    Type: String
    Default: rain-test-bucket

Resources:
  Bucket1:
    Type: "AWS::S3::Bucket"
    Properties:
      BucketName: !Ref BucketName

  Bucket2:
    Type: "AWS::S3::Bucket"
    Properties:
      BucketName: !Sub ${BucketName}-2

Outputs:
  BucketNames:
    Value: !Sub ${Bucket1}, ${Bucket2}